h1,h2,h3,h4,h5,h6,p,figure,ul,li {
    margin: 0;
    padding: 0;
}

.container {
    width: 940px;
    margin: auto;
    margin-left: 320px;
}

.carrera,.historia {
    min-height: 250px;
    position: relative;
    border: 1px solid black;
    display: flex;
    margin-bottom: 100px;
    border-radius: 10px;
    border-color: white;
    color: white;
}

.imagen {
    position: absolute;
    bottom: -6px;
    margin: 0 0 10px 10px;
}

.imagen.left {
    left: 10px;
}

.imagen.right {
    right: 10px;
}

.description {
    margin-left: 400px;
}

.description.left {
    left: 10px;
}

.description.right {
    right: 10px;
}